body {
    background-color: black;
}

.header {
    display: flex;
    align-items: center;
    align-content: center;
}

.name {
    margin-left: 330px;
    color: white;
    text-align: center;
}

.hello-world {
    color: white;
    text-align: center;
}

.author {
    color: white;
    text-align: center;
}